@font-face {
    font-family: Yekan;
    src: url('./assets/fonts/iran-yekan/iranyekan.woff')
}

*,
* * {
    font-family: Yekan !important;
}

.Toastify__toast-body {
    text-align: right !important;
}

.lds-dual-ring {
    display: inline-block;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 30%;
    left: calc(50% - 165px);
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #1961ac transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
    -webkit-animation: lds-dual-ring 1.2s linear infinite;
    -moz-animation: lds-dual-ring 1.2s linear infinite;
    -o-animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-moz-keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 992px) {
    .lds-dual-ring {
        left: calc(50% - 40px);
    }
}