@font-face {
    font-family: Yekan;
    src: url('./assets/fonts/iran-yekan/iranyekan.woff')
}

*,
* * {
    font-family: Yekan !important;
}

.Toastify__toast-body {
    text-align: right !important;
}

.react-code-input input {
    padding: 0 !important;
    text-align: center !important;
    font-size: 0.9rem !important;
}

.lds-dual-ring {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 30%;
    left: calc(50% - 75px);
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #0b1033 transparent #ffd617 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
    -webkit-animation: lds-dual-ring 1.2s linear infinite;
    -moz-animation: lds-dual-ring 1.2s linear infinite;
    -o-animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-moz-keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}