.chatbox-main-content-sended-right {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 7px 15px;
}

.chatbox-main-content-sended-right-profbox {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    margin-left: 12px;
}

.chatbox-main-content-sended-right-profile {
    width: 100%;
    height: 100%;
}

.chatbox-main-content-sended-right-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: auto;
    max-width: 80%;
    min-width: 100px;
    padding: 15px 30px;
    background-color: #0b1033;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.chatbox-main-content-sended-right-desc-text {
    text-align: right;
    font-size: 14px;
    color: #ffd617;
    margin-bottom: 10px !important;
}

.chatbox-main-content-sended-right-desc-date {
    font-size: 11px;
    color: rgba(253, 214, 23, 0.75);
}