.paymentPageMain {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/images/WideBackgroundMenupage.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.paymentSuccessBox {
    width: 17rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 1rem 0.5rem #0b10333b;
    padding: 1rem;
}

.paymentSuccessImage {
    width: 70%;
}

.paymentPageResultSuccess {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    color: rgb(31, 189, 65);
    /* padding: 0 0.5rem; */
}

.paymentPageResultTokenLabelBox {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.paymentPageResultTokenLabel {
    direction: rtl;
    width: 100%;
    text-align: right;
    font-size: 1rem;
    color: rgb(31, 189, 65);
}

.paymentPageResultToken {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(31, 189, 65);
    /* padding: 0 0.5rem; */
}

.paymentSucccessButton {
    font-family: Yekan;
    width: 100%;
    padding: 1rem 1rem;
    background-color: rgb(31, 189, 65);
    border: none;
    border-radius: 0.2rem;
    outline: none;
    color: #ffffff;
    font-size: 1rem;
    transition: all 0.2s ease-in;
    margin-top: 2rem;
}

.paymentPageResultFail {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: rgb(189, 36, 31);
    padding: 0 0.5rem;
}

.paymentPageButton {
    font-family: Yekan;
    width: 15rem;
    padding: 1rem 1rem;
    background-color: #0b1033;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    color: #ffd617;
    font-size: 1rem;
    transition: all 0.2s ease-in;
    margin-top: 2rem;
}

.paymentPageButton:hover {
    background-color: #0b1033d5;
    transition: all 0.2s ease-in;
}