.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: #0B1033;
    z-index: 50;
}

.headerContainer {
    width: 100%;
    max-width: 1400px;
    height: 5rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerNotificationsBox {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headerNotificationKeeper {
    position: relative;
    width: 2.2rem;
    height: 2.2rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E6E6E6;
    border-radius: 100%;
    margin: 0 0.3rem;
    cursor: pointer;
}

.headerNotification {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.2rem;
    height: 2.2rem;
    /* background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E6E6E6;
    border-radius: 100%;
    margin: 0 0.3rem;
    cursor: pointer; */
}

.headerNotification:hover {
    background-color: #ffd617;
    border: 1px solid #ffd617;
}

.headerNotificationIcon {
    color: #E6E6E6;
    width: 1.5rem !important;
}

.headerNotification:hover .headerNotificationIcon {
    color: #0b1033;
}

.headerTitleBox {
    font-size: 1.7rem;
    text-align: center;
    color: #ffffff;
    margin-left: -4.4rem;
}

.headerLogoBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLogoBox img {
    width: 3.4rem;
}