.resumeMain {
    position: absolute;
    top: 5rem;
    left: 0;
    width: calc(100% - 22rem);
    height: 100vh;
}

.resumeBackButtonBox {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: #0b1033;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumeBackButtonIocn {
    width: 100%;
    color: #ffd617;
}

.resumeContent {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resumeContentImage {
    width: 5rem;
    margin-bottom: 1.5rem;
}

.resumeContentTitle {
    font-size: 1rem;
    color: #0b1033;
    margin-bottom: 1rem;
}

.resumeContentSubtitle {
    font-size: 0.9rem;
    color: #0b1033;
    margin-bottom: 1rem;
}