button:disabled {
    cursor: no-drop !important;
}

button {
    cursor: pointer;
}


/* body {
    overflow-y: auto !important;
} */

.loginKeeper {
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    background-color: #17304977;
    background-image: url('../../assets/images/WideBackgroundFooter.svg');
    background-position: center;
    background-size: cover;
    /* padding: 45px 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.loginPageMain {
    width: 100vw;
    height: 100vh;
    /* background-color: #17304977; */
    /* overflow: auto; */
    /* background-image: url('../../assets/images/backgrounds/login-back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}


/* .loginPageBottom {
    margin-top: -5px;
    width: 100%;
    height: 115px;
    background-color: #000;
} */

.loginRegisterSwitch {
    position: relative;
    top: 20%;
    width: 60%;
    max-width: 900px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
    background-color: #0b1033 !important;
    /* background-color: #173049; */
    transition: 0.4s all ease;
}

.registerSideBox {
    position: absolute;
    top: 20%;
    left: 0;
    width: 360px;
    opacity: 1;
    transition: 1s opacity ease;
}

.registerSideBoxHidden {
    position: absolute;
    top: 20%;
    left: 0;
    width: 360px;
    opacity: 0;
    transition: 0.6s opacity ease;
}

.registerboxHead {
    text-align: right;
    color: #fff;
    padding-bottom: 10px;
}

.registerboxDesc {
    text-align: right;
    color: #fff;
}

.registerboxButton {
    position: absolute;
    left: 30%;
    margin-top: 10px;
    padding: 7px 15px;
    color: #00a98f;
    background: none;
    outline: none;
    border: 1px solid #00a98f;
    transition: 0.3s all ease;
}

.registerboxButton:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: #00a990b7;
    content: '';
    transition: 0.3s all ease;
}

.registerboxButton:hover {
    color: #fff !important;
    z-index: 1 !important;
}

.registerboxButton:hover:before {
    width: 100%;
    z-index: -1;
}

.loginSideBox {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 360px;
    opacity: 1;
    transition: 0.6s opacity ease;
}

.loginSideBoxHidden {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 360px;
    opacity: 0;
    transition: 0.6s opacity ease;
}

.loginboxHead {
    text-align: right;
    color: #fff;
    padding-bottom: 10px;
}

.loginboxDesc {
    text-align: right;
    color: #fff;
}

.loginboxButton {
    position: absolute;
    right: 5%;
    margin-top: 10px;
    padding: 7px 15px;
    color: #00a98f;
    background: none;
    outline: none;
    border: 1px solid #00a98f;
    transition: 0.3s all ease;
}

.loginboxButton:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #00a990b7;
    content: '';
    transition: 0.3s all ease;
}

.loginboxButton:hover {
    color: #fff !important;
    z-index: 1 !important;
}

.loginboxButton:hover:before {
    width: 100%;
    z-index: -1;
}

.loginRegisterLoginBox {
    transition: 0.5s all ease;
    position: absolute;
    top: -15%;
    /* right: 5%; */
    right: 45px;
    width: 350px;
    height: 420px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 1px 2px 12px #00a990b7;
    overflow: hidden;
}

.loginRegisterLoginHead {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5rem;
    padding-top: 1.5rem;
    box-shadow: 0 0 12px 6px rgba(11, 16, 51, 0.2);
    display: flex;
    justify-content: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    color: #34bf49;
}

.asd {}


/* .loginBottomShadowBox {
    width: 100%;
    height: 6rem;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 -1px 12px 6px rgba(11, 16, 51, 0.2);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
} */


/* .registerBottomShadowBox {
    width: 100%;
    height: 6rem;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 -1px 12px 6px rgba(11, 16, 51, 0.2);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
} */

.loginRegisterLoginForm {
    position: absolute;
    top: 30%;
    width: 100%;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.loginRegisterLoginPhoneNumber,
.loginRegisterLoginPhoneNumberInvalid {
    width: 85%;
    padding: 7px 7px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    direction: rtl;
}

.loginRegisterLoginPhoneNumber {
    border-bottom: 1px solid rgba(11, 16, 51, 0.5);
}

.loginRegisterLoginPhoneNumberInvalid {
    border-bottom: 1px solid #e57373;
}

.loginRegisterLoginPhoneNumber:focus::placeholder,
.loginRegisterLoginPhoneNumberInvalid:focus::placeholder {
    visibility: hidden;
}

.loginRegisterLoginPhoneNumber:focus:-moz-placeholder,
.loginRegisterLoginPhoneNumberInvalid:focus:-moz-placeholder {
    visibility: hidden;
}

.loginMobileErrorSpan {
    margin-top: -12px;
    padding-right: 15px;
    font-size: 13px;
    color: #f44336;
    width: 94%;
    display: flex;
    justify-content: flex-end;
}


/* .loginRegisterLoginPassword,
.loginRegisterLoginPasswordInvalid {
    width: 85%;
    padding: 7px 7px;
    border: none;
    outline: none;
}

.loginRegisterLoginPassword {
    border-bottom: 1px solid rgba(11, 16, 51, 0.5);
}

.loginRegisterLoginPasswordInvalid {
    border-bottom: 1px solid #e57373;
}

.loginPasswordErrorSpan {
    margin-top: 7px;
    font-size: 14px;
    color: #f44336;
    width: 94%;
    display: flex;
    justify-content: flex-end;
}

.loginRegisterLoginPassword:focus::placeholder,
.loginRegisterLoginPasswordInvalid:focus::placeholder {
    visibility: hidden;
}

.loginRegisterLoginPassword:focus:-moz-placeholder,
.loginRegisterLoginPasswordInvalid:focus:-moz-placeholde {
    visibility: hidden;
}

.loginRegisterPasswordForgot {
    position: absolute;
    top: 67%;
    right: 7%;
}

.loginRegisterPasswordForgot:hover {
    text-decoration: none;
} */

.loginRegisterLoginButton {
    position: absolute;
    top: 170%;
    right: 15%;
    padding: 7px 15px;
    width: 120px;
    background: none;
    outline: none;
    color: #34bf49;
    border: 1px solid #34bf49;
}

.loginRegisterLoginButtonByer {
    position: absolute;
    top: 170%;
    left: 15%;
    padding: 7px 15px;
    width: 120px;
    background: none;
    outline: none;
    color: #34bf49;
    border: 1px solid #34bf49;
}

.loginRegisterLoginButtonByer::before,
.loginRegisterLoginButton::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #34bf49;
    content: '';
    transition: 0.3s all ease;
}

.loginRegisterLoginButtonByer:hover,
.loginRegisterLoginButton:hover {
    color: #fff !important;
    z-index: 1 !important;
}

.loginRegisterLoginButtonByer:hover::before,
.loginRegisterLoginButton:hover::before {
    height: 100%;
    z-index: -1;
}

.loginRegisterRegisterBox {
    transition: 0.5s all ease;
    position: absolute;
    top: -25%;
    /* right: 51%; */
    right: calc(100% - 400px);
    width: 350px;
    height: 530px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 1px 2px 12px #00a990b7;
    /* overflow: hidden; */
}

.loginRegisterRegisterBoxMinHeight {
    transition: 0.5s all ease;
    position: absolute;
    top: -25%;
    /* right: 51%; */
    right: calc(100% - 400px);
    width: 350px;
    height: 420px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 1px 2px 12px #00a990b7;
    /* overflow: hidden; */
}

.loginRegisterRegisterHead {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5rem;
    padding-top: 2rem;
    box-shadow: 0 1px 12px 6px rgba(3, 3, 5, 0.2);
    display: flex;
    justify-content: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    color: #34bf49;
}

.loginRegisterRegisterForm {
    position: absolute;
    top: 25%;
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.loginRegisterRegisterName,
.loginRegisterRegisterNameInvalid {
    width: 85%;
    padding: 7px 7px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    direction: rtl;
}


/* .loginRegisterRegisterName::placeholder {
    font-size: 15px;
}

.loginRegisterRegisterName::-webkit-input-placeholder {
    font-size: 15px;
}

.loginRegisterRegisterName::-moz-placeholder {
    font-size: 15px;
} */

.loginRegisterRegisterName {
    border-bottom: 1px solid rgba(11, 16, 51, 0.5);
}

.loginRegisterRegisterNameInvalid {
    border-bottom: 1px solid #e57373;
}

.loginRegisterRegisterName:focus::placeholder,
.loginRegisterRegisterNameInvalid:focus::placeholder {
    visibility: hidden;
}

.loginRegisterRegisterName:focus:-moz-placeholder,
.loginRegisterRegisterNameInvalid:focus:-moz-placeholder {
    visibility: hidden;
}

.registerNameErrorSpan {
    margin-top: -13px;
    padding-right: 15px;
    font-size: 12px;
    color: #f44336;
    width: 94%;
    display: flex;
    justify-content: flex-end;
}

.loginRegisterRegisterFamily,
.loginRegisterRegisterFamilyInvalid {
    width: 85%;
    padding: 7px 7px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    direction: rtl;
}

.loginRegisterRegisterFamily {
    border-bottom: 1px solid rgba(11, 16, 51, 0.5);
}

.loginRegisterRegisterFamilyInvalid {
    border-bottom: 1px solid #e57373;
}

.loginRegisterRegisterFamily:focus::placeholder,
.loginRegisterRegisterFamilyInvalid:focus::placeholder {
    visibility: hidden;
}

.loginRegisterRegisterFamily:focus:-moz-placeholder,
.loginRegisterRegisterFamilyInvalid:focus:-moz-placeholder {
    visibility: hidden;
}

.registerFamilyErrorSpan {
    margin-top: -13px;
    padding-right: 15px;
    font-size: 12px;
    color: #f44336;
    width: 94%;
    display: flex;
    justify-content: flex-end;
}


/* .loginRegisterRegisterEmail,
.loginRegisterRegisterEmailInvalid {
    width: 85%;
    padding: 7px 7px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    direction: rtl;
}

.loginRegisterRegisterEmail {
    border-bottom: 1px solid rgba(11, 16, 51, 0.5);
}

.loginRegisterRegisterEmailInvalid {
    border-bottom: 1px solid #e57373;
}

.loginRegisterRegisterEmail:focus::placeholder,
.loginRegisterRegisterEmailInvalid:focus::placeholder {
    visibility: hidden;
}

.loginRegisterRegisterEmail:focus:-moz-placeholder,
:focus::placeholder:focus:-moz-placeholder {
    visibility: hidden;
} */

.loginRegisterRegisterSelectsbox {
    width: 85%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.loginRegisterRegisterSelectContry,
.loginRegisterRegisterSelectCity {
    height: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
    width: 45%;
    background: none;
    border-bottom: 1px solid rgba(11, 16, 51, 0.5);
    outline: none;
    /* border-radius: 2rem; */
    padding: 0.4rem 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: rgba(11, 16, 51, 0.75);
    /* z-index: 4; */
}

.loginRegisterRegisterSelectGenderBox {}

.loginRegisterRegisterSelectGender {
    height: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
    width: 85%;
    background: none;
    border-bottom: 1px solid rgba(11, 16, 51, 0.5);
    outline: none;
    /* border-radius: 2rem; */
    padding: 0.4rem 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: rgba(11, 16, 51, 0.75);
    margin-bottom: 20px;
}


/* .loginRegisterRegisterCity,
.loginRegisterRegisterCountry {
    width: 45%;
    padding: 7px 7px 0px 7px;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid rgba(11, 16, 51, 0.5);
    direction: rtl;
} */


/* .bools {
    color: red;
} */


/* .registerEmailErrorSpan {
    margin-top: -13px;
    padding-right: 15px;
    font-size: 14px;
    color: #f44336;
    width: 94%;
    display: flex;
    justify-content: flex-end;
} */

.loginRegisterRegisterPhoneNumber,
.loginRegisterRegisterPhoneNumberInvalid {
    width: 85%;
    padding: 7px 7px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    direction: rtl;
}

.loginRegisterRegisterPhoneNumber {
    border-bottom: 1px solid rgba(11, 16, 51, 0.5);
}

.loginRegisterRegisterPhoneNumberInvalid {
    border-bottom: 1px solid #e57373;
}

.loginRegisterRegisterPhoneNumber:focus::placeholder,
.loginRegisterRegisterPhoneNumberInvalid:focus::placeholder {
    visibility: hidden;
}

.loginRegisterRegisterPhoneNumber:focus:-moz-placeholder,
.loginRegisterRegisterPhoneNumberInvalid:focus:-moz-placeholder {
    visibility: hidden;
}

.registerPhoneNumberErrorSpan {
    margin-top: -13px;
    padding-right: 15px;
    font-size: 12px;
    color: #f44336;
    width: 94%;
    display: flex;
    justify-content: flex-end;
}

.registerStep2CodeInput,
.registerStep2CodeInputInvalid {
    width: 85%;
    padding: 7px 7px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    direction: rtl;
}

.registerStep2CodeInput {
    border-bottom: 1px solid rgba(11, 16, 51, 0.5);
}

.registerStep2CodeInputInvalid {
    border-bottom: 1px solid #e57373;
}

.registerStep2CodeInput:focus::placeholder,
.registerStep2CodeInputInvalid:focus::placeholder {
    visibility: hidden;
}

.registerStep2CodeInput:focus:-moz-placeholder,
.registerStep2CodeInputInvalid:-moz-placeholder {
    visibility: hidden;
}

.registerStep2CodeErrorSpan {
    margin-top: -13px;
    padding-right: 15px;
    font-size: 14px;
    color: #f44336;
    width: 94%;
    display: flex;
    justify-content: flex-end;
}

.loginRegisterRegisterButton {
    position: absolute;
    top: 115%;
    right: calc(50% - 90px);
    padding: 7px 15px;
    width: 180px;
    background: none;
    outline: none;
    color: #34bf49;
    border: 1px solid #34bf49;
}

.loginRegisterRegisterButton:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #34bf49;
    content: '';
    transition: 0.3s all ease;
}

.loginRegisterRegisterButton:hover {
    color: #fff !important;
    z-index: 1 !important;
}

.loginRegisterRegisterButton:hover:before {
    height: 100%;
    z-index: -1;
}


/* step2 btns */

.registerStep2Buttonsbox {
    position: absolute;
    top: 170%;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.registerStep2Button {
    position: relative;
    padding: 7px 10px;
    width: 100px;
    background: none;
    outline: none;
    color: #34bf49;
    border: 1px solid #34bf49;
}

.registerStep2Button:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #34bf49;
    content: '';
    transition: 0.3s all ease;
}

.registerStep2Button:hover {
    color: #fff !important;
    z-index: 1 !important;
}

.registerStep2Button:hover:before {
    height: 100%;
    z-index: -1;
}

.registerStep2BackButton {
    position: relative;
    padding: 7px 10px;
    width: 100px;
    background: none;
    outline: none;
    color: #f44336;
    border: 1px solid #f44336;
}

.registerStep2BackButton:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #f44336;
    content: '';
    transition: 0.3s all ease;
}

.registerStep2BackButton:hover {
    color: #fff !important;
    z-index: 1 !important;
}

.registerStep2BackButton:hover:before {
    height: 100%;
    z-index: -1;
}


/* login step2 btns  */

.loginStep2Button {
    position: relative;
    padding: 7px 10px;
    width: 100px;
    background: none;
    outline: none;
    color: #34bf49;
    border: 1px solid #34bf49;
}

.loginStep2Button:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #34bf49;
    content: '';
    transition: 0.3s all ease;
}

.loginStep2Button:hover {
    color: #fff !important;
    z-index: 1 !important;
}

.loginStep2Button:hover:before {
    height: 100%;
    z-index: -1;
}

.loginStep2BackButton {
    position: relative;
    padding: 7px 10px;
    width: 100px;
    background: none;
    outline: none;
    color: #f44336;
    border: 1px solid #f44336;
}

.loginStep2BackButton:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #f44336;
    content: '';
    transition: 0.3s all ease;
}

.loginStep2BackButton:hover {
    color: #fff !important;
    z-index: 1 !important;
}

.loginStep2BackButton:hover:before {
    height: 100%;
    z-index: -1;
}

.registerAlerts {
    position: absolute;
    top: -40%;
    left: 0;
    width: 100%;
    height: 0;
    text-align: center;
    z-index: 15;
}

.registerAlerts p,
.registerAlerts h4 {
    color: #fff;
    font-size: 18px;
    padding-bottom: 15px;
    text-align: center;
}

.registerAlerts span {
    color: #fff;
    font-size: 17px;
    padding-bottom: 15px;
    text-align: center;
}

.loginAlerts {
    position: absolute;
    top: -40%;
    left: 0;
    width: 100%;
    height: 0;
    text-align: center;
    z-index: 15;
}

.loginAlerts p,
.loginAlerts h4 {
    color: #fff;
    font-size: 18px;
    padding-bottom: 15px;
    text-align: center;
}

.loginAlerts span {
    color: #fff;
    font-size: 17px;
    padding-bottom: 15px;
    text-align: center;
}

.loginShowHidePasswordIcon {
    width: 27px;
    height: 27px;
    position: absolute;
    top: 60%;
    right: 10%;
}

.registerShowHidePasswordIcon {
    width: 27px;
    height: 27px;
    position: absolute;
    top: 53%;
    right: 10%;
}

.registerShowHideRepasswordIcon {
    width: 27px;
    height: 27px;
    position: absolute;
    bottom: 9%;
    right: 10%;
}

.registerShowHideRepasswordIconInvalid {
    width: 27px;
    height: 27px;
    position: absolute;
    bottom: 5%;
    right: 10%;
}

.reLoginAlert {
    position: fixed;
    top: 0;
    left: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    max-width: 2200px;
    height: 380px;
    padding-top: 25px;
    background-color: #283593;
    border-radius: 22% 23% 21% 20% / 18% 16% 24% 18%;
}

.reLoginAlertIcon {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
}

.reLoginAlertTitle {
    color: #fff;
    margin-bottom: 15px;
}

.reLoginAlertButton {
    background: none;
    border: 1px solid #2979FF;
    color: #fff;
    outline: none;
    padding: 8px 14px;
    transition: 0.5s background-color ease;
    -webkit-transition: 0.5s background-color ease;
    -o-transition: 0.5s background-color ease;
    -moz-transition: 0.5s background-color ease;
}

.reLoginAlertButton:hover {
    background-color: #2979FF;
    color: #fff;
    border: 1px solid rgb(133, 172, 240);
}

.timerBox {
    margin-bottom: -50px;
    margin-top: 20px;
    color: #f44336;
}


/* media aueries /////////////////////// */


/* @media screen and (max-width: 1340px) {
    .loginRegisterRegisterBox {
        right: 50%;
    }
}

@media screen and (max-width: 1320px) {
    .loginRegisterRegisterBox {
        right: 49%;
    }
} */

@media screen and (max-width: 1290px) {
    /* .loginRegisterRegisterBox {
        right: 47%;
    } */
    .registerSideBox {
        left: -6%;
    }
    .registerSideBoxHidden {
        left: -6%;
    }
    .loginSideBox {
        right: 4%;
    }
    .loginSideBoxHidden {
        right: 4%;
    }
}


/* @media screen and (max-width: 1220px) {
    .loginRegisterRegisterBox {
        right: 45%;
    }
} */

@media screen and (max-width: 1170px) {
    /* .loginRegisterRegisterBox {
        right: 50%;
    } */
    .loginRegisterSwitch {
        width: 70%;
    }
}


/* @media screen and (max-width: 1100px) {
    .loginRegisterRegisterBox {
        right: 48%;
    }
} */

@media screen and (max-width: 1060px) {
    /* .loginRegisterRegisterBox {
        right: 52%;
    } */
    .loginRegisterSwitch {
        width: 80%;
    }
}


/* @media screen and (max-width: 1020px) {
    .loginRegisterRegisterBox {
        right: 50%;
    }
}

@media screen and (max-width: 980px) {
    .loginRegisterRegisterBox {
        right: 48%;
    }
} */

@media screen and (max-width: 930px) {
    /* .loginRegisterRegisterBox {
        right: 51%;
    } */
    .loginRegisterSwitch {
        width: 90%;
    }
}


/* @media screen and (max-width: 880px) {
    .loginRegisterRegisterBox {
        right: 49%;
    }
} */

@media screen and (max-width: 850px) {
    /* .loginRegisterRegisterBox {
        right: 47%;
    } */
    .registerSideBox {
        left: -11%;
    }
    .registerSideBoxHidden {
        left: -11%;
    }
    .registerboxHead {
        font-size: 16px;
    }
    .registerboxDesc {
        font-size: 14px;
    }
    .registerboxButton {
        left: 40%;
    }
    .loginboxHead {
        font-size: 16px;
    }
    .loginboxDesc {
        font-size: 14px;
    }
    /* .loginboxButton */
}


/* @media screen and (max-width: 810px) {
    .loginRegisterRegisterBox {
        right: 45%;
    }
} */

@media screen and (max-width: 780px) {
    .loginRegisterRegisterBox {
        /* right: 48%; */
        right: calc(100% - 350px);
        width: 300px;
        height: 530px;
    }
    .loginRegisterRegisterBoxMinHeight {
        right: calc(100% - 350px);
        width: 300px;
        height: 420px;
    }
    .loginRegisterLoginBox {
        width: 300px;
        height: 400px;
    }
    .loginRegisterLoginButton {
        width: 160px;
        left: calc(50% - 80px);
        top: 130%;
    }
    .loginRegisterLoginButtonByer {
        width: 160px;
        left: calc(50% - 80px);
        top: 170%;
    }
}


/* @media screen and (max-width: 745px) {
    .loginRegisterRegisterBox {
        right: 46%;
    }
} */

@media screen and (max-width: 730px) {
    .loginPageMain {
        height: 800px;
    }
    .loginRegisterSwitch {
        width: 350px;
        top: 15%;
        height: 500px;
    }
    .loginRegisterLoginBox {
        right: 25px;
    }
    .loginRegisterRegisterBox {
        right: 25px;
        top: 40%;
    }
    .loginRegisterRegisterBoxMinHeight {
        right: 25px;
        top: 40%;
    }
    .registerSideBox {
        top: 67%;
        left: -25%;
    }
    .registerSideBoxHidden {
        top: 67%;
        left: -25%;
    }
    .loginSideBox {
        top: 10%;
    }
    .loginSideBoxHidden {
        top: 10%;
    }
}

@media screen and (max-width: 500px) {
    .reLoginAlert {
        height: 340px;
    }
    .reLoginAlertIcon {
        width: 150px;
        height: 150px;
    }
    .reLoginAlertTitle {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .reLoginAlertButton {
        font-size: 16px;
        padding: 6px 10px;
    }
}

@media screen and (max-width: 375px) {
    .loginRegisterSwitch {
        width: 300px;
        top: 10%;
        height: 500px;
    }
    .loginRegisterRegisterBox {
        right: 48%;
        width: 280px;
        height: 530px;
    }
    .loginRegisterRegisterBoxMinHeight {
        right: 3.5%;
        width: 280px;
        height: 410px;
    }
    .loginRegisterLoginBox {
        width: 280px;
        height: 390px;
    }
    .loginRegisterLoginBox {
        right: 10px;
    }
    .loginRegisterRegisterBox {
        right: 10px;
        top: 40%;
    }
}

@media screen and (max-width: 315px) {
    .loginRegisterSwitch {
        width: 260px;
        top: 10%;
        height: 500px;
    }
    .loginRegisterRegisterBox {
        right: 48%;
        width: 250px;
        height: 530px;
    }
    .loginRegisterRegisterBoxMinHeight {
        right: 48%;
        width: 250px;
        height: 410px;
    }
    .loginRegisterLoginBox {
        width: 250px;
        height: 360px;
    }
    .loginRegisterLoginBox {
        right: 5px;
    }
    .loginRegisterRegisterBox {
        right: 5px;
        top: 40%;
    }
    .registerSideBox {
        top: 67%;
        left: -44%;
    }
    .registerSideBoxHidden {
        top: 67%;
        left: -44%;
    }
    .registerboxHead {
        font-size: 14px;
    }
    .registerboxDesc {
        font-size: 12px;
    }
    .loginboxHead {
        font-size: 14px;
    }
    .loginboxDesc {
        font-size: 12px;
    }
}

@media screen and (min-width: 1291px) {
    .registerSideBox {
        left: -4%;
    }
    .registerSideBoxHidden {
        left: -4%;
    }
    .loginSideBox {
        right: 6%;
    }
    .loginSideBoxHidden {
        right: 6%;
    }
}

@media screen and (min-width: 1350px) {
    .loginPageMain {
        height: 900px;
        background-position: bottom;
    }
    .loginRegisterRegisterBox {
        right: 52%;
    }
    .registerSideBox {
        left: -1%;
    }
    .registerSideBoxHidden {
        left: -1%;
    }
    .loginSideBox {
        right: 10%;
    }
    .loginSideBoxHidden {
        right: 10%;
    }
}

@media screen and (min-width: 1400px) {
    .loginRegisterRegisterBox {
        right: 53%;
    }
}

@media screen and (min-width: 1440px) {
    .loginRegisterRegisterBox {
        right: 55%;
    }
}

@media screen and (min-width: 1550px) {
    .loginPageMain {
        height: 1000px;
        background-position: bottom;
    }
}

@media screen and (min-width: 1900px) {
    .loginPageMain {
        height: 1100px;
        background-position: bottom;
    }
}