.collapsible-trigger-main {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: none;
    overflow: hidden;
}

.collapsible-trigger-main:hover {
    background-color: #0b103317;
    -webkit-transition: background-color 300ms;
    -o-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    transition: background-color 300ms;
}

.collapsible-trigger-division {
    width: 100%;
    height: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -moz-box-orient: horizontal;
    -moz-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 4px 20px 4px 0;
    cursor: pointer;
}

.collapsible-trigger-division-rightbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -moz-box-orient: horizontal;
    -moz-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.collapsible-trigger-division-rightbox-titlebox {
    width: 290px;
    height: 2.8rem;
    overflow: hidden;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.collapsible-trigger-division-line-accoudion {
    position: absolute;
    top: 10px;
    right: 0;
    width: 4px;
    height: 70px;
    margin-left: 19px;
}

.collapsible-trigger-division-rightbox-titlebox-state-info {
    color: #5bc0de;
    font-size: 0.75rem;
}

.collapsible-trigger-division-rightbox-titlebox-state-warning {
    color: #f0ad4e;
    font-size: 0.75rem;
}

.collapsible-trigger-division-rightbox-titlebox-state-danger {
    color: #d9534f;
    font-size: 0.75rem;
}

.collapsible-trigger-division-rightbox-titlebox-state-success {
    color: #5cb85c;
    font-size: 0.75rem;
}

.collapsible-trigger-division-badge-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 0.6rem;
}

.collapsible-trigger-division-badge {
    width: 1.3rem;
    height: 1.3rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #0b1033;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #ffd617;
    margin-bottom: 0.5rem;
    margin-left: 0.1rem;
}

.collapsible-trigger-division-badge-icon {
    font-size: 1.4rem;
    color: #0b1033;
}

.ReactCollapse--collapse {
    width: 100%;
    -webkit-transition: height 300ms;
    -o-transition: height 300ms;
    -moz-transition: height 300ms;
    transition: height 300ms;
}