.collapsible-trigger-division {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px 4px 0;
    cursor: pointer;
}

.collapsible-trigger-division-rightbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.collapsible-trigger-division-rightbox-titlebox {
    width: 250px;
    height: 1.3rem;
    overflow: hidden;
    text-align: right;
}

.collapsible-trigger-division-badge {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b1033;
    border-radius: 100%;
    color: #ffd617;
    margin-bottom: 1.1rem;
    margin-left: -4px;
}