@font-face {
    font-family: Yekan;
    src: url('./assets/fonts/iran-yekan/iranyekan.woff');
    src: url('./assets/fonts/iran-yekan/iranyekan.woff2')
}

html,
body {
    overflow: hidden !important;
}

#root {
    overflow: hidden !important;
}

*,
* * {
    font-family: Yekan !important;
}

button {
    outline: none !important;
}

.filepond--root {
    width: 170px;
    height: 170px !important;
}
/* .filepond--hopper */

.Toastify__toast-body {
    font-weight: Yekan !important;
    text-align: right !important;
}

.react-code-input input {
    padding: 0 !important;
    text-align: center !important;
    font-size: 1.2rem !important;
}

.lds-dual-ring {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 30%;
    left: -webkit-calc(50% - 75px);
    left: -moz-calc(50% - 75px);
    left: calc(50% - 75px);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #0b1033 transparent #ffd617 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
    -webkit-animation: lds-dual-ring 1.2s linear infinite;
    -moz-animation: lds-dual-ring 1.2s linear infinite;
    -o-animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes lds-dual-ring {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes lds-dual-ring {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}