.messageModal {
    position: fixed;
    top: 15rem;
    left: calc(50% - 19.5rem);
    display: block;
    opacity: 1;
    width: 17rem;
    height: auto;
    background-color: #ffffff;
    border-radius: 4rem;
    padding: 1rem 3rem;
}

.messageModalTitle {
    text-align: right;
    color: #0b1033;
}

.messageModalDesc {
    text-align: right;
    color: rgba(11, 16, 51, 0.75);
}