.messageModal {
    position: fixed;
    top: 37%;
    left: calc(50% - 23rem);
    display: block;
    width: 24rem;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 0 12px 6px rgba(11, 16, 51, 0.1);
    border-radius: 3rem;
    padding: 2rem 3rem;
    z-index: 60;
    transition: all 0.3s ease-in;
    animation: showMessageModal 0.2s ease-in;
}

@keyframes showMessageModal {
    0% {
        opacity: 0;
        top: 31%;
    }
    100% {
        opacity: 1;
        top: 37%;
    }
}

.messageModalHidden {
    position: fixed;
    top: 37%;
    left: calc(50% - 23rem);
    display: none;
    opacity: 0;
    width: 24rem;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 0 12px 6px rgba(11, 16, 51, 0.1);
    border-radius: 3rem;
    padding: 2rem 3rem;
    z-index: 0;
}

.messageModalTitle {
    width: 100%;
    text-align: right;
    font-size: 1.1rem;
    color: #0b1033;
}

.messageModalDesc {
    width: 100%;
    text-align: right;
    font-size: 0.9rem;
    color: rgba(11, 16, 51, 0.75);
}

.messageModalButtonsBox {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.messageModalButton {
    width: 7rem;
    padding: 0.3rem 0.8rem;
    background-color: transparent;
    border: 1px solid #0b1033;
    border-radius: 2rem;
    outline: none !important;
    color: #0b1033;
    font-size: 0.9rem;
}

.messageModalButton:nth-child(2) {
    margin-right: 1rem;
}

.messageModalButton:hover {
    padding: 0.3rem 0.8rem;
    background-color: #0b1033;
    border: 1px solid #0b1033;
    color: #ffd617;
    transition: all 0.2s ease-in;
}


/* accept  */

.acceptModal {
    position: fixed;
    top: 40%;
    left: calc(50% - 21rem);
    display: block;
    width: 20rem;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 0 12px 6px rgba(11, 16, 51, 0.1);
    border-radius: 3rem;
    padding: 2rem 3rem;
    z-index: 60;
    transition: all 0.3s ease-in;
    animation: showacceptModal 0.2s ease-in;
}

@keyframes showacceptModal {
    0% {
        opacity: 0;
        top: 34%;
    }
    100% {
        opacity: 1;
        top: 40%;
    }
}

.acceptModalHidden {
    position: fixed;
    top: 40%;
    left: calc(50% - 21rem);
    display: none;
    opacity: 0;
    width: 20rem;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 0 12px 6px rgba(11, 16, 51, 0.1);
    border-radius: 3rem;
    padding: 2rem 3rem;
    z-index: 0;
}

.acceptModalTitle {
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    color: #0b1033;
}

.acceptModalButtonsBox {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.acceptModalButton {
    width: 7rem;
    padding: 0.3rem 0.8rem;
    background-color: transparent;
    border: 1px solid #0b1033;
    border-radius: 2rem;
    outline: none !important;
    color: #0b1033;
    font-size: 0.9rem;
}

.acceptModalButton:nth-child(2) {
    margin-right: 1rem;
}

.acceptModalButton:hover {
    padding: 0.3rem 0.8rem;
    background-color: #0b1033;
    border: 1px solid #0b1033;
    color: #ffd617;
    transition: all 0.2s ease-in;
}

@media screen and (max-width: 992px) {
    .messageModal {
        left: calc(50% - 12rem);
        width: 24rem;
    }
    .messageModalHidden {
        left: calc(50% - 12rem);
        width: 24rem;
    }
    .acceptModal {
        left: calc(50% - 10rem);
        width: 20rem;
    }
    .acceptModalHidden {
        left: calc(50% - 10rem);
        width: 20rem;
    }
}

@media screen and (max-width: 576px) {
    .messageModal {
        left: 10%;
        width: 80%;
    }
    .messageModalHidden {
        left: 10%;
        width: 80%;
    }
    .acceptModal {
        left: 40%;
        width: 80%;
    }
    .acceptModalHidden {
        left: 40%;
        width: 80%;
    }
}