.ordersPageMain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #F2F2F2;
    background-image: url('../../assets/images/textcur-3-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    /* z-index: 40; */
}

.orderPageItem {
    width: 95%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #0b1033;
    border-radius: 1rem;
    padding: 1rem;
}

.orderPageEmptyBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #F2F2F2; */
    padding: 0;
    background-image: url('../../assets/images/textcur-3-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.orderPageOtherStatesMsg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    padding: 2rem 0.5rem 0 0.5rem;
    font-size: 1rem;
    color: #0b1033;
    text-align: center;
    /* background-image: url('../../assets/images/textcur-3-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden; */
}

.orderPageItemRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.orderPageItemTitle {
    color: #0b1033;
    font-size: 1rem;
    margin: 0.5rem 0;
    text-align: right;
    direction: rtl;
    font-weight: bold;
}

.orderPageItemDescBox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5rem 0;
}

.orderPageItemDescBox h4 {
    direction: rtl;
    font-size: 0.9rem;
    font-weight: bold;
    color: #0b1033;
    margin: 0 0 0 0.3rem;
}

.orderPageItemDescBox p {
    font-size: 0.9rem;
    color: rgba(11, 16, 51, 0.75);
    margin: 0;
}

.orderPageItemLeft {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.orderPageItemLeftIgnoreButton {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none !important;
    border-radius: 100%;
    background-color: #ffd617;
    margin-left: 0.7rem;
    overflow: hidden;
}

.orderPageItemLeftIgnoreIcon {
    transform: scale(1.5);
    color: #0b1033;
}

.orderPageItemLeftAcceptButton {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none !important;
    border-radius: 100%;
    background-color: #0b1033;
    margin-left: 0.7rem;
    overflow: hidden;
}

.orderPageItemLeftAcceptIcon {
    transform: scale(1.3);
    color: #ffd617;
}

@media screen and (max-width: 768px) {
    .orderPageItem {
        flex-direction: column;
        align-items: flex-end;
    }
    .orderPageItemLeft {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}